@import "tailwindcss";

:root {
  color-scheme: light;
}

@font-face {
  font-family: "BlauerNue";
  src: url("../assets/fonts/BlauerNue-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BlauerNue";
  src: url("../assets/fonts/BlauerNue-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "BlauerNue", system-ui, sans-serif;
  font-weight: 400;
  background: #ebebeb;
  color: #0b0f1a;
}

a {
  color: inherit;
  text-decoration: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
